.header {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(98, 122, 233);
    padding: 10px;
    height: 50px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
